# Force composer to re-run to necessary symlinks are created since CodePipeline doesn't handle symlinks correctly :(
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  # Intentionally avoid warmup as it causes a number of issues.
  65_composer_install:
    command: composer.phar install --no-dev -o
